[submodule "tor"]
	path = tor
	url = https://github.com/avandenbussche/tor.git
	branch = tor-over-quic
[submodule "torsh"]
	path = torsh
	url = https://github.com/avandenbussche/torsh.git
[submodule "torsh-openwrt-pkg"]
	path = torsh-openwrt-pkg
	url = https://github.com/avandenbussche/torsh-openwrt-pkg.git
